<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Deskposable</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendors -->

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main2.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datetimepicker.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vis.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-tablesort.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/export.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ngToast-animations.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ngToast.css")">

   <!--  <script src="@routes.Assets.at("javascripts/jquerry/jquery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/moment.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-sanitize.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-translate.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-locale_fr-fr.js")"></script>
    <script src="@routes.Assets.at("javascripts/utils.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/spin.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-loading.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap/bootstrap-confirmation.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/module/datetimepicker.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/module/datetimepicker.templates.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/module/loading.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-tablesort.js")"></script>
    <script src="@routes.Assets.at("javascripts/angular/angularjs-dropdown-multiselect.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/lodash.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/plugging/ui-bootstrap-tpls-0.12.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/service/commons/FileService.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/directive/validateCreateUserDirective.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/directive/autoValueLoginDirective.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular/directive/filterExcelCaracter.js")" type="text/javascript"></script> -->


    <script src="../../public/" type="text/javascript/angular"></script>


    </head>

    <body ng-app="DeskposableApp" ng-controller="DPCtrl">
            <!-- NAV HERE-->

    </body>

</html>
