<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

<div class="container white z-depth-5">
    <div class="row">
        <div class="col m11 offset-m1">
            <h2>Gestion des employés</h2>
        </div>
    </div>

    <div class="row">
        <div class="col m10 offset-m1">
            <table class="bordered">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Poste</th>
                        <th>Bureau</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in persons">
                        <td>{{person.lastname}}</td>
                        <td>{{person.firstname}}</td>
                        <td>{{person.employment}}</td>
                        <td>{{person.desk.label}}<span ng-show="person.desk.label == null">Pas de bureau associé</span></td>
                        <td class="right">
                            <a ng-show="!addMode" class="waves-effect waves-light btn green modal-trigger"
                               href="#updateModal"
                               ng-click="personChoice(person)"
                               onclick="event.preventDefault();"><i class="material-icons">mode_edit</i></a>
                            <a ng-show="!addMode" class="waves-effect waves-light btn red modal-trigger" href="#deleteModal"
                               ng-click="personChoice(person)"
                               onclick="event.preventDefault();"><i class="material-icons">clear</i></a>
                        </td>
                    </tr>
                    <tr ng-show="addMode">
                        <td><input class="validate" ng-model="personToAdd.lastname" placeholder="Nom" type="text" required></td>
                        <td><input class="validate" ng-model="personToAdd.firstname" placeholder="Prénom" type="text" required></td>
                        <td><input class="validate" ng-model="personToAdd.employment" placeholder="Poste" type="text" required></td>
                        <td>desk?</td>
                        <td class="right">
                            <a class="waves-effect waves-light btn blue" type="submit"
                               ng-click="addPerson(personToAdd)"><i class="material-icons">check</i></a>
                            <a class="waves-effect waves-light btn red" ng-click="addMode = false"><i
                                    class="material-icons">cancel</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<a class="waves-effect waves-light btn green" ng-show="!addMode" ng-click="addMode = true"><i class="material-icons right">add</i>Ajouter</a>-->
    <div class="row">
        <div class="col m1 offset-m10">
            <a class="btn-floating green right" ng-show="!addMode" ng-click="addMode = true"><i class="material-icons">add</i></a>
        </div>
    </div>


    <div id="updateModal" class="modal">
        <div class="modal-content">
            <h4>Modification de {{personToModify.lastname}} {{personToModify.firstname}}</h4>
            <div class="row">
                <form class="col s12">
                    <div clas="row">
                        <div class="input-field col s6">
                            <input ng-model="personToModify.lastname" type="text">
                            <label ng-class="{active: personToModify.lastname != null}">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input ng-model="personToModify.firstname" type="text">
                            <label ng-class="{active: personToModify.firstname != null}">Prénom</label>
                        </div>
                    </div>
                    <div clas="row">
                        <div class="input-field col s6">
                            <input ng-model="personToModify.employment" type="text">
                            <label ng-class="{active: personToModify.employment != null}">Poste</label>
                        </div>
                        <div class="input-field col s6">
                            <input disabled ng-model="personToModify.desk.label" placeholder="Pas de bureau associé"
                                   type="text">
                            <label class="active">Bureau</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light orange modal-close" type="submit" name="action"
                    ng-click="updatePerson(personToModify)">Modifier</button>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Êtes vous sûr de vouloir supprimer {{personToModify.lastname}} {{personToModify.firstname}}</h4>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light red modal-close" type="submit" name="action"
                    ng-click="deletePerson(personToModify)">Supprimer</button>
        </div>
    </div>

</div>