<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

<div class="container white z-depth-5">
    <div class="row">
        <div class="col m11 offset-m1">
            <h2>Recherche de personnes</h2>
        </div>
    </div>

    <div class="row">
        <div class="col m8 offset-m2">
            <div class="collection">
                <a ng-repeat="person in persons" href="#modal1" class="collection-item modal-trigger orange-text"
                   ng-click="personChoice(person)"
                   onclick="event.preventDefault();">{{person.lastname}} {{person.firstname}}</a>
            </div>
        </div>
        <div class="col m2" ng-repeat="person in persons" style="margin-top: 10px;">
            <a class="waves-effect waves-light btn red" style="padding: inherit"><i class="material-icons">clear</i></a>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modification de {{personToModify.lastname}} {{personToModify.firstname}}</h4>
            <div class="row">
                <form class="col s12">
                    <div clas="row">
                        <div class="input-field col s6">
                            <input ng-model="personToModify.lastname" type="text">
                            <label ng-class="{active: personToModify.lastname != null}">Nom</label>
                        </div>
                        <div class="input-field col s6">
                            <input ng-model="personToModify.firstname" type="text">
                            <label ng-class="{active: personToModify.firstname != null}">Prénom</label>
                        </div>
                    </div>
                    <div clas="row">
                        <div class="input-field col s6">
                            <input ng-model="personToModify.employment" type="text">
                            <label ng-class="{active: personToModify.employment != null}">Poste</label>
                        </div>
                        <div class="input-field col s6">
                            <input disabled ng-model="personToModify.desk" placeholder="Pas de bureau associé"
                                   type="text">
                            <label class="active">Bureau</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light orange modal-close" type="submit" name="action"
                    ng-click="updatePerson(personToModify)">Modifier
                <i class="material-icons right">send</i></button>
        </div>
    </div>

</div>