<div class="container">
    <div class="row">
        <div class="card small col s12 m6" ng-repeat="map in maps">
            <div class="card-image">
                <img src="../images/{{ map.imagePath }}">
                <span class="card-title">{{ map.label }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                    require little markup to use effectively.</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-boxes" style="width: 70%; height: 500px; background-color: lightblue;">

    <div class="maps-container">
        <div class="map" ng-repeat="map in maps" style="display: inline-block; width: 20%; height: 150px; background-color: indianred">
            <a href="/#/plan/{{ map.id }}">
                <span class="map-title" style="width:100%; text-align: center">{{ map.label }}</span>
                <img class="map-preview" src="{{ map.imagePath }}">
            </a>
        </div>
    </div>
</div>

-->