<script>
    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

<section style="width: 100%;">
    <div class="title-page">

        <div class="fixed-action-btn">
            <a href="/#/plan/nouveau/{{idBatiment}}" class="btn-floating btn-large blue">
                <i class="large material-icons">add</i>
            </a>
        </div>

        <h3>{{ building.label }}</h3></div>
    <div class="container">
        <div class="container-building">

            <div class="container-maps">
                <a class="card small col s12 m6 maps" ng-repeat="map in maps" href="/#/modification-plan/{{map.id}}">
                    <div class="card-image">
                        <img src="../images/{{ map.imagePath }}">
                    </div>
                    <div class="card-content">
                        <!--<div class="btn-floating left halfway-fab waves-effect waves-light red modal-trigger"
                           href="#modal1" onclick="event.preventDefault();"><i class="material-icons">clear</i></div>
                        <div class="btn-floating right halfway-fab waves-effect waves-light orange modal-trigger"
                           href="#modal1" onclick="event.preventDefault();"><i class="material-icons">mode_edit</i></div>-->
                        <div class="btn-floating right halfway-fab waves-effect waves-light modal-trigger" style="background-color: #006989;"
                             href="/#/bureau/{{map.id}}" onclick="event.preventDefault();"><i class="material-icons">menu</i></div>
                        <span class="card-title grey-text text-darken-4">{{ map.label }}</span>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>