<script>

    class Bureau {
        constructor(id, label, x, y) {
            this.id = id;
            this.label = label;
            this.orientation = 0;
            this.x = x;
            this.y = y;
            this.map = null;
        }

        set user(user) {
            this.user = user;
        }

        static addMaterial(material) {
            this.materials.push(material);
        }
    }

    var typeCreation = 0; //0 : rien, 1 = Bureau
    var bureaux = [];
    var idBureau = 0; //s'incrémente à chaque ajout de bureau


    function refreshViewBureaux() {

    }

    function selectIconBureau() {
        $(".add-bureau-btn").css('height', '80px');
        $(".add-bureau-btn").css('width', '80px');
    }

    function unselectIconBureau() {
        $(".add-bureau-btn").css('height', '45px');
        $(".add-bureau-btn").css('width', '45px');
    }

    function mode_bureau() {
        if (typeCreation == 0) {
            typeCreation = 1;
            selectIconBureau();
        }
        else {
            typeCreation = 0;
            unselectIconBureau();
        }
    }

    function removeStyleOfAllSelectedOffice() {
        // $(".bureaux-container img").removeClass('selectedOffice');
        //$(".selected-office").html('');
    }

    function getInfosBureau(idBureau) {
        return "";
    }

    function getListePersonnne() {
        alert("ok");
    }
</script>

<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();

        $('select').material_select();
    });
</script>

<section class="main-mod-map">
    <div class="add-icons">
        <img ng-click="saveMap()" src="../images/icon_save.png" class="icon-mod-map save-btn"/>
        <img onclick="mode_bureau()" src="../images/icon_new_bureau.png" class="icon-mod-map add-bureau-btn"/>
    </div>
    <div class="plan-view">
        <h3>{{map.label}}</h3>
        <div class="corp">
            <div class="plan">
                <img ng-click="addBureau($event)" class="plan-img-style plan-img" src="../images/{{map.imagePath}}"
                     height="578" width="1000">
                <div class="bureaux-container" style="height: 0px;" ng-click="setBureau(this)">
                    <a href="#updateDesk" class="modal-trigger"
                       ng-click="deskChoice(desk)" ng-repeat="desk in map.desks"
                       style="position: relative;top :{{-578+desk.y-(100/2)}}px;left :{{-(($index)*200)+desk.x-(200/2)}}px;"
                       onclick="event.preventDefault();">
                        <img
                                style="opacity: 0.9;"
                                data-id="{{desk.id}}" src="../images/bureau.png" class="bureau-style"
                                id="bureau-{{desk.id}}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidenav-office">
        <div class="selected-office">
            <span ng-show="!btnOk">Aucun bureau séléctionné.</span>
            <div ng-show="btnOk">
                <span ng-show="btnOk"><button ng-click='getListePersonnne()'>Affecter un employé</button></span>
            </div>
        </div>
        <div class="all-offices">

        </div>
    </div>

    <div id="updateDesk" class="modal">
        <div class="modal-content">
            <h4>Modification du bureau : {{deskToModify.label}}</h4>
            <form>
                <div class="row">
                    <div class="col s12">
                        <div clas="row">
                            <div class="input-field col s4">
                                <input ng-model="deskToModify.label" type="text">
                                <label ng-class="{active: deskToModify.label != null}">Nom</label>
                            </div>
                            <div class="col s8">
                                <label>Employé</label>
                                <select class="browser-default"
                                        ng-model="person"
                                        ng-options="person as (person.lastname +' '+ person.firstname) for person in persons track by person.id">
                                    <option value="" disabled selected>Choisir un employé</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h4>Ajout de matériel</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10">
                        <table class="bordered">
                            <thead>
                            <tr>
                                <th>Label</th>
                                <th>Appartient à</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{item.label}}</td>
                                <td>{{item.person.lastname}} {{item.person.firstname}}<span ng-show="item.person == null" style="font-style: italic">personne...</span></td>
                                <td class="right">
                                    <a ng-show="!addMode" class="waves-effect waves-light btn green modal-trigger"
                                       href="#"
                                       ng-click=""
                                       onclick="event.preventDefault();"><i class="material-icons">mode_edit</i></a>
                                    <a ng-show="!addMode" class="waves-effect waves-light btn red modal-trigger"
                                       href="#"
                                       ng-click="deleteItem(item)"
                                       onclick="event.preventDefault();"><i class="material-icons">clear</i></a>
                                </td>
                            </tr>
                            <tr ng-show="addMode">
                                <td><input class="validate" ng-model="itemToAdd.label" placeholder="Nom" type="text"
                                           required>
                                </td>
                                <td class="right">
                                    <a class="waves-effect waves-light btn blue" type="submit"
                                       ng-click="addItem(itemToAdd)"><i class="material-icons">check</i></a>
                                    <a class="waves-effect waves-light btn red" ng-click="addMode = false"><i
                                            class="material-icons">cancel</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1">
                        <a class="btn-floating green left" ng-show="!addMode" ng-click="addMode = true"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light orange modal-close" type="submit" name="action" ng-click="updateDesk(deskToModify)">Modifier
            </button>
        </div>
    </div>

</section>
