<div class="add-icons">
    <img ng-click="saveMap()" src="../images/icon_save.png" class="icon-add-img add_bureau"/>
    <img onclick="mode_bureau()" src="../images/icon_new_bureau.png" class="icon-add-img add_bureau"/>
</div>
<div class="container plan-view">
    <h3>Batiment 4 - ATOS - Etage 4</h3>
    <div class="corp">
        <div class="plan">
            <img ng-click="addBureau($event)" class="plan-img-style plan-img" src="../images/plan1.png" height="578" width="1000">
            <div class="bureaux-container" style="height: 0px;">
            </div>
        </div>
    </div>
</div>
<div class="sidenav-office">
    <div class="selected-office">
        <span>Aucun bureau séléctionné.</span>
    </div>
    <div class="all-offices">

    </div>
</div>

